header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 150px;
    border-bottom: 2px solid #C9C9C9;
}

.title {
    margin: 50px 0;
}

.mandatory {
    width: 450px;
}

.user-name {
    margin-right: 20px;
    font-size: 1rem;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    margin : auto;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    padding : 0 150px;
}

.help {
    font-size: 0.7rem;
    color: #808080;
}

.is-danger{
    color: red;
}

.myquestions {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

